<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>

<header class="header">
    <h1>Dos3R's Blogsite</h1>
    <!-- Navigation -->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/post">Create Post</a></li>
            <% if (username) { %>
                <!-- Show username and logout link when user is logged in -->
                <li><a href="/userPosts"><%= username %>'s Posts</a></li>
                <li><a href="/profile"><%= username %>'s Profile</a></li>
                <li><a href="/logout">Logout</a></li>
                <% } else { %>
                <!-- Show login and register links when user is not logged in -->
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            <% } %>
        </ul>
    </nav>
</header>

</body>
</html>